{% extends "base.html" %}

{% block title %}Создание квеста{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Создание нового квеста</h2>
        
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        
        <form method="post" action="/quests">
            <!--div class="mb-3">
                <label for="id" class="form-label">Номер квеста</label>
                <input type="number" class="form-control" id="id" name="id" required>
            </div-->
            <div class="mb-3">
                <label for="total_duration" class="form-label">Общая продолжительность (минут)</label>
                <input type="number" class="form-control" id="total_duration" name="total_duration" required>
            </div>
            
            <div class="mb-3">
                <label for="location_type" class="form-label">Тип локации</label>
                <select class="form-select" id="location_type" name="location_type" required>
                    <option value="дома">В помещении</option>
                    <option value="на улице">На улице</option>
                    <option value="везде">Везде</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="age_group_id" class="form-label">Возрастная группа</label>
                <select class="form-select" id="age_group_id" name="age_group_id" required>
                    {% for age_group in age_groups %}
                        <option value="{{ age_group.id }}">{{ age_group.min_age }}-{{ age_group.max_age }} лет</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Выберите задания</label>
                <div class="row">
                    {% for challenge in challenges %}
                        <div class="col-md-6 mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" 
                                    id="challenge_{{ challenge.id }}" 
                                    name="challenge_ids" 
                                    value="{{ challenge.id }}">
                                <label class="form-check-label" for="challenge_{{ challenge.id }}">
                                    {{ challenge.title }} ({{ challenge.duration_min }} мин.)
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Создать квест</button>
            <a href="/quests" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}